/* ===> map.php <=== */

body{
	overflow: hidden;
}

/* => Some special properties for the loading screen */
.modal {
    display:    none;
    position:   relative;
    z-index:    3000;
    
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/design/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}


/* => Blocks Positionning */

#mapAndCartContainer{
	position: relative;
	width: 100%;
	height:100%; 
}

#mapContainer{
	position: absolute;
	top:0;
	height:100%; 
	margin: 0;
	padding: 0;
	
}

#map{ 
	height: 100%;
	width: 100%;
}

#simplifiedLink {
	display: block;
	width: 200px;
	margin: 30px auto;
}

.drawer {
	position: absolute;
	background-color: white;
	

	-webkit-box-shadow: 20px 12px 6px -6px #999;
	-moz-box-shadow: 20px 12px 6px -6px #999;
	box-shadow: 3px 0 8px 0 #999;

	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
	
}

.drawer-left{
	height: 100%;
}

.drawer-bottom{
	width: 100%;
	bottom: -50px; /* Hidden in the beginning, JS will show it */
}

#POI_CART_BLOCK{
	z-index: 6000;
}

#WikiVoyageBox{
	z-index: 5000;
	background-color: rgba(255,255,255,0.8); 
	padding: 0 20px 0 20px;
}

@media screen and (max-width: 765px){
	#mapContainer{
		width:100%;
	}
	.drawer-left {
		width:100%;
		left: -100%;
	}
}
@media screen and (min-width: 765px){
	#mapContainer{
		left:30%;
		width: 70%;
		}
	.drawer-left {
		width: 30%;
	}
}

/* => Drawer style and properties */
.drawer-button {
	display:none;
	position: absolute;
	top: 10px;
	left: 30px;
}

.drawer-title{
	font-family: "Helvetica","Trebuchet MS",sans;
	font-size: 22px;
	text-decoration: none;
	text-align:center;
	padding: 15px;
	width: 100%;
	background-color: rgba(137, 160, 195, 0.8);
	color: white;
}

.WikiVoyageTitle{
	border-radius: 10px 10px 0 0;
	position: absolute;
	z-index: 5000;
	top: calc(-1.5em - 8px);
	left: 20px;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	padding: 5px 20px 5px 20px;
	background-color: rgba(255,255,255,0.8); 
	color : rgb(120, 120, 195);
	cursor: pointer;
}

#wikiVoyageToggleButton{
	cursor: pointer;
}

.WikiVoyageTitle .glyphicon{
	vertical-align: text-bottom;
	margin-right: 20px;
}

/* => Map Stuff */

.POPUP_title {
	font-weight: bold;
	margin: auto;
	text-align: center;
	margin: 5px !important;
}

.POPUP_img {
	height: 100px !important;
	max-width: 100px;
	margin: auto;
	display: block;
}

.POPUP_links {
	text-align: center;
	margin: 5px !important;
}

.easy-button-button.disabled {
  display: none;
}

.leaflet-popup-content{
	margin: 10px;
}

#buttonDrawerMap {
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.buttonDrawerActive {
	background-color: #ff6e70 !important;
	font-size: 2em;
	padding: 10px;
}


/* => Cart block and children (cart elements, buttons...) */

#POI_CART {
	overflow-y: auto;
	height: 80%;
}
#POI_CART::-webkit-scrollbar {
	border-radius: 4px;
	width:8px;
	background-color:#eeeeee;
}
#POI_CART::-webkit-scrollbar-thumb {
	background-color:rgb(174,203,219);
	border-radius:4px;
}

#POI_CART_FOOTER {
	text-align: center;
	margin: auto;
	margin-top: 5px;
	background-color: rgba(137, 160, 195, 0.8);
	padding: 10px;
}

.POI_CART_icons .glyphicon {
	cursor: pointer;
	display: inline-block;
	margin: 5px 10px 0 10px;
	font-size: 1.3em;
	color: #555;
}

.eltCart {
	font-family: "Calibri",Sans;
	width: 90%;
	border-bottom: 2px solid rgb(248,99,99);
	min-height: 74px;
	margin: auto;
	text-align: center;
	padding: 5px;
}

.eltCartNumber {
	font-family: "Helvetica","Trebuchet MS";
	border-radius: 3px;
	float: left;
	margin: 5px;
	margin-top: 30px;
	width: 20px;
	border: 1px solid black;
	text-align:center;
	height:100%;
	background-color: rgb(174,203,219);
}

/* => WikiVoyage section */

#WikiVoyageThumbnailContainer {
overflow-y: hidden;
overflow-x: auto;
padding: 7px 0 5px 0;
width: 100%;
margin-bottom: 4px;
}

#WikiVoyageThumbnailContainerScroll {
white-space: nowrap;
}

#WikiVoyageThumbnailContainer::-webkit-scrollbar {
border-radius: 4px;
height:8px;
background-color:#eeeeee;
}

#WikiVoyageThumbnailContainer::-webkit-scrollbar-thumb {
background-color:rgb(137, 160, 195);
border-radius:4px;
}

.WikiVoyageElement {
height: calc(100px + 0.9em + 22px);
display: inline-block;
text-align: center;
margin-left: 5px;
margin-right: 5px;
padding: 8px;
background-color: rgb(137, 160, 195);
min-width: 100px;
border-radius: 3px;
}

.WikiVoyageElement a {
color: black;
font-size: 0.9em;
}

.WikiVoyageElement a:hover {
color: rgb(255,50,50);
}

.WikiVoyageImg {
display: block;
height: 100px;
margin: auto;
}